<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заказов</title>
</head>

<body>
    <h1>Список заказов</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер стола</th>
                <th>Блюда</th>
                <th>Общая стоимость</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.table_number }}</td>
                <td>
                    <ul>
                        {% for item in order.items %}
                        <li>{{ item.name }} - {{ item.price }}₽</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>
                    <a href="{% url 'order_update' order.id %}">Изменить</a> |
                    <a href="{% url 'order_delete' order.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'order_create' %}">Добавить новый заказ</a>
</body>

</html>